head 
    link(rel="stylesheet", href="/css/styles.css") 
body
    h2.text-center.text-2xl.font-extrabold.text-orange-600  Bienvenido al Sistema de Bienes Raices - MATRICULA

div 
    p.text-center Por favor inicia sesión
