extends ../layout/index 

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-orange-400 Bienes
            span.font-normal.text-black Raíces
        h2.text-center.text-2xl.font-normal.text-black ¡Bienvenido a la Plataforma de BienesRaíces - MATRICULA!